{% load static from staticfiles %}
<div class="task-form container">
        <div class="row">
            <div class="col-md-12">
                <form id="send_form" action="" method="post">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Задача</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Крайний срок</label>
                            {{ form.dead_line }}
                        </div>
                        <div class="col-md-2">
                            <label for="">Час.</label>
                            <select name="" id="hours_task" style="min-width:0; padding:4px;">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="" >Мин.</label>
                            <select name="" id="minute_task" style="min-width:0; padding:4px;">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-4" style="width: 30%;">
                            <label for="">Доступ</label>
                            {{ form.access }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Риелтор</label>
                            {{ form.rieltor }}
                        </div>
                        <div class="col-md-6">
                            <label for="">Сложность</label>
                            {{ form.type_complex }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">ID(A) Арендатор</label>
                            <input type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="">ID(P) Покупатель</label>
                            <input type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="">ID(O) Объект</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="">Текст</label>
                            <textarea name="" id="" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="" class="btn btn-green">Сохранить</a>
                        </div>
                        <div class="col-md-4 col-md-offset-4" >
                            <a id="cancel_add_form" style="float: right" href="" class="btn btn-red">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
     </div>
    <script src="{% static "js/select2.min.js" %}"></script>