  <!-- Комментарии-->
 <div class="col-md-12">
                    <div class="comments">
                        <h3 class="comments-head">Комментарии</h3>
                        <div class="row">
                            <div class="comments-item">
                                <div class="col-md-1">
                                    <div class="comments-avatar">
                                        <img src="images/comment-avatar.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h4 class="comments-name">Вячеслав Рекечинский</h4>
                                    <p class="comments-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae architecto quaerat, libero! Eum, officia, quibusdam! Temporibus nam earum eos iure at obcaecati voluptatibus velit.
                                    </p>
                                    <div class="comments-edit">
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="comments-time">
                                        <i class="fa fa-clock-o"></i> 10 мая 2016 20:16
                                    </div>
                                </div>
                            </div>
                            <div class="comments-item last-comments">
                                <div class="col-md-1">
                                    <div class="comments-avatar">
                                        <img src="images/comment-avatar.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h4 class="comments-name">Вячеслав Рекечинский</h4>
                                    <p class="comments-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae architecto quaerat, libero! Eum, officia, quibusdam! Temporibus nam earum eos iure at obcaecati voluptatibus velit.
                                    </p>
                                    <div class="comments-edit">
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="comments-time">
                                        <i class="fa fa-clock-o"></i> 10 мая 2016 20:16
                                    </div>
                                </div>
                            </div>
                            <div class="comments-area">
                                <div class="col-md-12">
                                    <textarea name="" id=""></textarea>
                                    <div class="comments-add">
                                        <a href="#" class="btn btn-green">Добавить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>