 <div class="col-md-12">
                            <div class="meeting">
                                <div class="row">
                                    <h1 class="section-head">Встречи</h1>
                                    <div class="section-sort">
                                        <a href="#" class="btn btn-green">Добавить</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tabs">
                                                <ul class="main-tabs">
                                                    <li class="tabs-active"><a href="#">Все <span class="label label-default">10</span></a></li>
                                                    <li><a href="#">Активные <span class="label label-default">10</span></a></li>
                                                    <li><a href="#">Архив <span class="label label-default">10</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table table-striped table-bordered table-hover meet">
                                        <thead>
                                            <tr>
                                                <th>Комментарий</th>
                                                <th>Дата</th>
                                                <th>ID Клиента</th>
                                                <th>ID Объекта</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam sapiente cumque dolore hic voluptate impedit pariatur mollitia officiis id!
                                            </td>
                                            <td>
                                                <div class="rieltor">
                                                    <i class="fa fa-user"></i> Вячеслав
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o"></i> 13 мая 2016 13:35
                                                </div>
                                            </td>
                                            <td>
                                                K12
                                            </td>
                                            <td>
                                                O75
                                            </td>
                                            <td class="edit">
                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam sapiente cumque dolore hic voluptate impedit pariatur mollitia officiis id!
                                            </td>
                                            <td>
                                                <div class="rieltor">
                                                    <i class="fa fa-user"></i> Вячеслав
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o"></i> 13 мая 2016 13:35
                                                </div>
                                            </td>
                                            <td>
                                                K12
                                            </td>
                                            <td>
                                                O75
                                            </td>
                                            <td class="edit">
                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam sapiente cumque dolore hic voluptate impedit pariatur mollitia officiis id!
                                            </td>
                                            <td>
                                                <div class="rieltor">
                                                    <i class="fa fa-user"></i> Вячеслав
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o"></i> 13 мая 2016 13:35
                                                </div>
                                            </td>
                                            <td>
                                                K12
                                            </td>
                                            <td>
                                                O75
                                            </td>
                                            <td class="edit">
                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam sapiente cumque dolore hic voluptate impedit pariatur mollitia officiis id!
                                            </td>
                                            <td>
                                                <div class="rieltor">
                                                    <i class="fa fa-user"></i> Вячеслав
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o"></i> 13 мая 2016 13:35
                                                </div>
                                            </td>
                                            <td>
                                                K12
                                            </td>
                                            <td>
                                                O75
                                            </td>
                                            <td class="edit">
                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="comment">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam sapiente cumque dolore hic voluptate impedit pariatur mollitia officiis id!
                                            </td>
                                            <td>
                                                <div class="rieltor">
                                                    <i class="fa fa-user"></i> Вячеслав
                                                </div>
                                                <div class="date">
                                                    <i class="fa fa-clock-o"></i> 13 мая 2016 13:35
                                                </div>
                                            </td>
                                            <td>
                                                K12
                                            </td>
                                            <td>
                                                O75
                                            </td>
                                            <td class="edit">
                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>