                    <div class="object-arendator">
                        <h3 class="arendator-head">Арендаторы</h3>
                        <div class="row">
                            <div class="col-md-12 arendator-sort">
                                <input type="text" placeholder="ID">
                                <a href="#" class="btn btn-green">Добавить по ID</a>
                                <select name="" id="">
                                    <option value="">пункт 1</option>
                                    <option value="">пункт 2</option>
                                    <option value="">пункт 3</option>
                                </select>
                                <a href="#" class="btn btn-green">автоматически</a>
                                <a href="#" class="btn btn-red">Очистить</a>
                            </div>
                        </div>
                        <div class="col-md-12 delivery">
                            <div class="delivery-head">
                                <h3>Рассылка</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" placeholder="E-mail">
                                        <a href="#" class="btn btn-green">рассылка</a>
                                        <input type="text" placeholder="Телефон">
                                        <a href="#" class="btn btn-green">рассылка</a>
                                        <div class="delivery-pre">
                                        <a href="#test-popup" data-effect="mfp-zoom-in"><i class="fa fa-question-circle-o"></i> Препросмотр</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table table-striped table-bordered table-hover default">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cтатус</th>
                                                <th>Показы</th>
                                                <th>Имя</th>
                                                <th>Телефон</th>
                                                <th>Цена</th>
                                                <th>Комнат</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>32</td>
                                            <td class="f-clr-green">
                                                <i class="fa fa-check-circle-o"></i> Активный
                                            </td>
                                            <td class="f-clr-grey edit warning">
                                                <select name="" id="">
                                                    <option value="">Предлагали</option>
                                                    <option value="">Не предлагали</option>
                                                    <option value="">Ok</option>
                                                </select>
                                            </td>
                                            <td class="f-clr-grey">
                                                <i class="fa fa-user"></i> Владимир
                                            </td>
                                            <td class="f-clr-grey">
                                                +380932377318
                                            </td>
                                            <td class="f-clr-grey">
                                                0$-2 000$
                                            </td>
                                            <td class="f-clr-grey">
                                                1-2
                                            </td>
                                            <td class="edit">
                                                <input type="checkbox">
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="f-clr-grey">32</td>
                                            <td class="f-clr-red">
                                                <i class="fa fa-fire"></i> Горячий
                                            </td>
                                            <td class="f-clr-grey edit danger">
                                                <select name="" id="">
                                                    <option value="">Предлагали</option>
                                                    <option value="">Не предлагали</option>
                                                    <option value="">Ok</option>
                                                </select>
                                            </td>
                                            <td class="f-clr-grey">
                                                <i class="fa fa-user"></i> Владимир
                                            </td>
                                            <td class="f-clr-grey">
                                                +380932377318
                                            </td>
                                            <td class="f-clr-grey">
                                                0$-2 000$
                                            </td>
                                            <td class="f-clr-grey">
                                                1-2
                                            </td>
                                            <td class="edit">
                                                <input type="checkbox">
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>32</td>
                                            <td class="f-clr-orange">
                                                <i class="fa fa-question-o"></i> Нужно узнать
                                            </td>
                                            <td class="f-clr-grey edit active">
                                                <select name="" id="">
                                                    <option value="">Предлагали</option>
                                                    <option value="">Не предлагали</option>
                                                    <option value="">Ok</option>
                                                </select>
                                            </td>
                                            <td class="f-clr-grey">
                                                <i class="fa fa-user"></i> Владимир
                                            </td>
                                            <td class="f-clr-grey">
                                                +380932377318
                                            </td>
                                            <td class="f-clr-grey">
                                                0$-2 000$
                                            </td>
                                            <td class="f-clr-grey">
                                                1-2
                                            </td>
                                            <td class="edit">
                                                <input type="checkbox">
                                                <a href="#"> <i class="fa fa-pencil"></i></a> <a href="#"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="comments">
                                <h3 class="comments-head">Комментарии</h3>
                                <div class="row">
                                    <div class="comments-item">
                                        <div class="col-md-1">
                                            <div class="comments-avatar">
                                                <img src="images/comment-avatar.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <h4 class="comments-name">Вячеслав Рекечинский</h4>
                                            <p class="comments-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae architecto quaerat, libero! Eum, officia, quibusdam! Temporibus nam earum eos iure at obcaecati voluptatibus velit.
                                            </p>
                                            <div class="comments-edit">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                            <div class="comments-time">
                                                <i class="fa fa-clock-o"></i> 10 мая 2016 20:16
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments-item last-comments">
                                        <div class="col-md-1">
                                            <div class="comments-avatar">
                                                <img src="images/comment-avatar.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-11">
                                            <h4 class="comments-name">Вячеслав Рекечинский</h4>
                                            <p class="comments-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore beatae architecto quaerat, libero! Eum, officia, quibusdam! Temporibus nam earum eos iure at obcaecati voluptatibus velit.
                                            </p>
                                            <div class="comments-edit">
                                                <a href="#"><i class="fa fa-times"></i></a>
                                            </div>
                                            <div class="comments-time">
                                                <i class="fa fa-clock-o"></i> 10 мая 2016 20:16
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments-area">
                                        <div class="col-md-12">
                                            <textarea name="" id=""></textarea>
                                            <div class="comments-add">
                                                <a href="#" class="btn btn-green">Добавить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>