{% load static from staticfiles %}
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Title</title>

    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/slider.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script>
        function mn(obj) {
        x=document.getElementById(obj);
        if(x.style.display == "none") x.style.display = "block";
        else x.style.display = "none"
        }
    </script>
</head>

<body>
    <section id="all-offers">
        <div class="bc-title-inner vip-title bc-vip-title"><span>Аренда магазина, Одесса, Одесская обл.</span></div>
            <section id="content">
                <h1 class="desc-inner-arend">Аренда магазина на ул. Терешковой <span class="price-green">{{ single_object.type_operations }}5500 грн ($ 400)</span></h1>
                <div class="bc-slider-wrapp">
                    <div class="fotorama" data-nav="thumbs" style="width:1000px;">
                        {% for image in images %}
                            {% if single_object.id == image.album_id %}
                                <a href="{{ MEDIA_URL }}{{ image.image }}"><img src="{{ MEDIA_URL }}{{ image.image }}"></a>
                            {% endif %}
                        {% empty %}
                            NO PHOTO
                        {% endfor %}
                    </div>
                </div>
                    <table class="arend-info">
                        <tr>
                            <td>
                            <h2>Информация</h2>
                                <ul>
                                    <li><b>Тип:</b> Офис</li>
                                    <li><b>Площадь:</b> 
                                    {% if single_object.total_area %}
                                        {{ single_object.total_area }}
                                    кв.м.
                                    {% endif %}
                                    </li>

                                    <li><b>Расположение:</b> <span class="b-hover">Бизнес-центр "Шевченковский"
                                    <div class="buisnes-center-card">
                                        <h1>Шевченковский</h1>
                                        <div><img src="img/bc-card-photo.JPG" width="240" alt=""></div>
                                        <h2>Базарная 60</h2>
                                        <ul>
                                            <li><b>Район:</b>   Центр</li>
                                            <li><b>Сдаваемых помещений:</b> 4</li>
                                            <li><b>Общая площадь:</b>{{ single_object.total_area }}</li>
                                            <li><b>Цена за м2:</b>  12 грн</li>
                                            <li><b>Телефон:</b> Не указан</li>
                                            <li><b>Email:</b> ofis@gek.od.ua</li>
                                        </ul>
                                            <a href="">Подробнее...</a>

                                    </div>
                                    </span></li>
                                    <li><b>Этаж:</b> 1 Этаж</li>
                                    <li><b>ID:</b> {{ single_object.id }}</li>
                                    <li><b>Тех. план:</b> <a href="#tplan">Посмотреть</a></li>

                                </ul>
                            </td>
                            <td>
                                <h2>Контакты</h2>
                                <ul>
                                    <li><b>Телефон:</b> <span class="text_contact">{{ single_object.phone_owner }}</span></li>
                                    <li><b>Имя:</b> <span class="text_contact">{{ single_object.name_owner }}</span></li>
                                    <li class="social_icon"><b>Поделиться с друзьями:</b><br><div class="social">
                        <script type="text/javascript">(function() {
                          if (window.pluso)if (typeof window.pluso.start == "function") return;
                          if (window.ifpluso==undefined) { window.ifpluso = 1;
                            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                            var h=d[g]('body')[0];
                            h.appendChild(s);
                          }})();</script>
                        <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=04" data-services="google,twitter,vkontakte,facebook,odnoklassniki,moimir,email"></div>
                        </div></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2>Описание объекта</h2>
                                <p>{{single_object.comment}}</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="bc-map">
                    <h4>Карта</h4>
                    <div class="ya-map">
                        <div id="map" style="width: 490px; height: 335px;"></div>
                    </div>
                    <div class="goog-pan">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sua!4v1435592990554!6m8!1m7!1s-20QEwJgRbom0qhEx2PsJA!2m2!1d46.449449!2d30.745827!3f339.595546202186!4f14.127417764475013!5f0.7820865974627469" width="490" height="335" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>

                <div class="off-video">
                    <h4>Видео</h4>
                    <iframe height="375" src="http://www.youtube.com/embed/Vy0-RsLv0Jg" frameborder="0" allowfullscreen></iframe>
                </div>
                <div id="tplan" class="off-plan">
                    <h4>Технический план</h4>
                    <img src="img/plan.jpg" height="455" width="919" alt="">
                </div>

               
</body>
</html>
<script>
    $(document).ready(function(){
                    ymaps.ready(init);

                function init() {
                    var myMap = new ymaps.Map('map', {
                        center: [55.753994, 37.622093],
                        zoom: 9
                    });

                    ymaps.geocode('Киев, {{ single_object.street_obj }}, {{single_object.number_home}}', {
                        results: 1
                    }).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0),
                        coords = firstGeoObject.geometry.getCoordinates(),
                        bounds = firstGeoObject.properties.get('boundedBy');

                        myMap.geoObjects.add(firstGeoObject);
                        myMap.setBounds(bounds, {
                            checkZoomRange: true
                        });
                    });
                }
    });
</script>