{% load static from staticfiles %}
{% load video_tag %}
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block title %}<title>{{single_object.street_obj}} {{single_object.number_home|default:''}}</title>{% endblock title %}

    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/slider.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script>
        function mn(obj) {
        x=document.getElementById(obj);
        if(x.style.display == "none") x.style.display = "block";
        else x.style.display = "none"
        }
    </script>
</head>

<body>
    <section id="all-offers">
            <section id="content">
                <h1 class="desc-inner-arend" style="font-size:2.5em;">
                {% if single_object.title %}
                    {{single_object.title}} 
                {% endif %}
                </h1>
                <div style="width:100%; background-color:#0B87B0;">
                    <h1 style="float: left; font-size:2em">
                        <span>ID {{single_object.id}}, </span>
                        {% if single_object.list_operations %}
                            {% for operation in single_object.list_operations.all %}
                                {% if operation.id|floatformat == "2" or operation.id|floatformat == "3" %} 
                                    <span class="">{{ single_object.price_month|default:'' }} {{nac_carrency}}, </span>
                                {% endif %}
                                {% if operation.id|floatformat == "1" or operation.id|floatformat == "4" %} 
                                    <span class="">{{ single_object.price_bay|default:'' }} грн, </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {# <span class="">{{ single_object.price_bay }} грн</span> #}
                        <span> {{single_object.type_facilit|default:''}},</span>
                        <span> {{single_object.street_obj|default:''}},</span>
                        <span> {{single_object.number_home|default:''}}</span>
                        <span>
                        {% if single_object.number_apartment %}
                             / {{single_object.number_apartment}}</span>
                        {% endif %}
                    </h1>
                </div>
                <div class="bc-slider-wrapp">
                    <div class="fotorama" data-nav="thumbs" style="width:1000px;">
                        {% for image in images %}
                            {% if single_object.id == image.album_id %}
                                <a href="{{ MEDIA_URL }}{{ image.image }}"><img src="{{ MEDIA_URL }}{{ image.image }}"></a>
                            {% endif %}
                        {% empty %}
                            NO PHOTO
                        {% endfor %}
                    </div>
                </div>
                    <table class="arend-info">
                        <tr style="width:100%; float:left">
                            <td style="width:30%">
                            <h2>Информация</h2>
                                <ul>
                                    <li><b>Тип:</b> {{ single_object.type_facilit }}</li>
                                    <li><b>Площадь:</b> 
                                    {% if single_object.total_area %}
                                        {{ single_object.total_area }}
                                    кв.м.
                                    {% endif %}
                                    </li>
                                    <li><b>Район:</b> {{single_object.district_obj}}</li>
                                    <li><b>Улица:</b> {{single_object.street_obj}}</li>
                                    {# <li><b>Расположение:</b> <span class="b-hover">Бизнес-центр "Шевченковский" #}
                                    <div class="buisnes-center-card">
                                        <h1>Шевченковский</h1>
                                        <div><img src="img/bc-card-photo.JPG" width="240" alt=""></div>
                                        <h2>Базарная 60</h2>
                                        <ul>
                                            <li><b>Район:</b>   Центр</li>
                                            <li><b>Сдаваемых помещений:</b> 4</li>
                                            <li><b>Общая площадь:</b>{{ single_object.total_area }}</li>
                                            <li><b>Цена за м2:</b>  12 грн</li>
                                            <li><b>Телефон:</b> Не указан</li>
                                            <li><b>Email:</b> ofis@gek.od.ua</li>
                                        </ul>
                                            <a href="">Подробнее...</a>

                                    </div>
                                    </span></li>
                                    <li><b>Этаж:</b> {{ single_object.floor|default:'' }}</li>
                                    <li><b>ID:</b> {{ single_object.id }}</li>
                                    {# <li><b>Тех. план:</b> <a href="#tplan">Посмотреть</a> #}
                                    {# </li> #}

                                </ul>
                            </td>
                            <td style="width:40%">
                                <h2>Дополнительное описание</h2>
                                <ul>
                                    <li><b>Станция метро:</b><span> {{single_object.subway_obj|default:''}}</span>
                                        
                                    </li>
                                    <li><b>Строение:</b><span> {{single_object.type_building_data|default:''}}</span>
                                    </li>
                                    <li><b>Ремонт:</b><span> {{single_object.repairs|default:''}}</span>
                                    </li>
                                    <li><b>Комнати:</b><span> {{single_object.room|default:''}}</span>
                                    </li>
                                    <li><b>Участок:</b><span> {{single_object.lot|default:''}}</span>
                                    </li>
                                    <li><b>Окна:</b><span> {{single_object.windows|default:''}}</span>
                                    </li>
                                    <li><b>Отопление:</b><span> {{single_object.heating|default:''}}</span>
                                    </li>
                                    <li><b>Санузел:</b><span> {{single_object.lavatory|default:''}}</span>
                                    </li>
                                    <li><b>Мебель:</b><span> {{single_object.furniture|default:''}}</span>
                                    </li>
                                    <li><b>Вода:</b><span> {{single_object.the_presence_of_hot_water|default:''}}</span>
                                    </li>
                                    <li><b>Спальные места:</b><span> {{single_object.sleeps|default:''}}
                                    {% for wts in single_object.where_to_stay.all %}
                                        {{wts}}
                                    {% endfor %}
                                    </span>
                                    </li>
                                    <li><b>Количество человек:</b><span>
                                    {% for nop in single_object.number_of_persons.all %}
                                        {{nop}}
                                    {% endfor %}
                                        </span>
                                    </li>
                                    <li><b>Техника:</b><span>
                                    {% for eq in single_object.equipment.all %}
                                        {{eq}}
                                    {% endfor %}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <td style="width:20%">
                                <h2>Контакты</h2>
                                <ul>
                                    <li><b>Телефон:</b> <span class="text_contact">{{subscribe.phone}}</span></li>
                                    <li><b>Имя:</b> 
                                        <span class="text_contact">
                                            {{subscribe.name}}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2>Описание объекта</h2>
                                <div style="word-wrap: break-word; width:1000px;">
                                    <p >{{single_object.comment}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="bc-map">
                    <h4>Карта</h4>
                    <div class="ya-map">
                        <div id="map" style="width: 490px; height: 335px;"></div>
                    </div>
                    <div class="goog-pan">
                        {{single_object.panorama|panorama_code|safe}}
                    </div>
                </div>

                {% if single_object.youtube %}
                    <div class="off-video">
                        <h4>Видео</h4>
                                {{single_object.youtube|youtube_code|safe}}
                    </div>
                {% endif %}
                

               
</body>
</html>
<script>
    $(document).ready(function(){
                    ymaps.ready(init);

                function init() {
                    var myMap = new ymaps.Map('map', {
                        center: [55.753994, 37.622093],
                        zoom: 9
                    });

                    ymaps.geocode('Киев, {{ single_object.street_obj }}, {{single_object.number_home}}', {
                        results: 1
                    }).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0),
                        coords = firstGeoObject.geometry.getCoordinates(),
                        bounds = firstGeoObject.properties.get('boundedBy');

                        myMap.geoObjects.add(firstGeoObject);
                        myMap.setBounds(bounds, {
                            checkZoomRange: true
                        });
                    });
                }
    });
</script>