<div class="public">
    <div class="row">
        <div class="public-head">
            <h3>Публикации</h3>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table table-striped table-bordered table-hover default">
                <thead>
                <tr>
                    <th></th>
                    <th>Торговая площадка</th>
                    <th>Просмотров</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="edit">
                        <a id="post_obj" href="#" class="status-label
                                                        {% if status.public %}
                                                            sl-grey" status="true"> Снять с публикации
                        {% else %}
                            sl-green" status="false">Опубликовать
                        {% endif %}
                        </a>
                        <br>
                        <br>
                        <div>
                            <input name="post_name" type="text" placeholder="Имя" style="max-width: 160px">
                            <br>
                            <input name="post_phone" type="text" placeholder="Телефон" style="max-width: 160px">
                        </div>
                    </td>
                    <td>
                        <a href="{{ franshise }}" target="_blank">{{ franshise }}</a>
                    </td>
                    <td style="text-align: center">
                            {{ len_shows }}
                    </td>
                    <td class="info_status"
                        style="text-align: center;background-color: {% if status.public %}#0080004d{% else %}#80002966{% endif %}">
                        {% if status.public %}
                            Публикуется
                        {% else %}
                            Не публикуется
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>