                            <div class="public">
                                <div class="row">
                                    <div class="public-head">
                                        <h3>Публикации</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table table-striped table-bordered table-hover default">
                                            <thead>
                                                <tr>
                                                    <th> </th>
                                                    <th>Торговая площадка</th>
                                                    <th>Просмотров</th>
                                                    <th>Статус</th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td class="edit">
                                                    <a href="#" class="status-label sl-grey">Снять с публикации</a>
                                                </td>
                                                <td>
                                                    gek.volyn.ua
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    Публикуется
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="edit">
                                                    <a href="#" class="status-label sl-green">Опубликовать</a>
                                                </td>
                                                <td>
                                                    gek.volyn.ua
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    Публикуется
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="edit">
                                                    <a href="#" class="status-label sl-green">Опубликовать</a>
                                                </td>
                                                <td>
                                                    gek.volyn.ua
                                                </td>
                                                <td>
                                                    12
                                                </td>
                                                <td>
                                                    Публикуется
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>