{% extends "homes/base.html" %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "arendators" %}">Арендаторы</a></li>
                        <li class="active">Добавление</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row section-search">

                <div class="col-md-12">
                    <h1 class="section-head">Информация <span>о Арендаторе</span></h1>
                    <div class="section-sort">
                        <a href="#" class="btn btn-green">
                            Добавить
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 substrate">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="typeobj">Риэлтор</label>
                                    <select placeholder="-----">
                                        <option>Вячеслав</option>
                                        <option>Дмитрий</option>
                                        <option>Сергей</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Доступ</label>
                                    <select placeholder="-----">
                                        <option>Вячеслав</option>
                                        <option>Дмитрий</option>
                                        <option>Сергей</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Комиссия</label>
                                    <input type="text" placeholder="-----">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="tarea">Имя</label>
                                    <input type="text" placeholder="-----">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Состояние</label>
                                    <select placeholder="-----">
                                        <option>Пункт 1</option>
                                        <option>Пункт 2</option>
                                        <option>Пункт 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="stat">Тип клиента</label>
                                    <select placeholder="-----">
                                        <option>Постоянный</option>
                                        <option>Разовый</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Телефон 1</label>
                                    <input type="text" placeholder="-----">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="search-item">
                                            <label for="price">Телефон 2</label>
                                            <input type="text" placeholder="-----">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="search-item">
                                        <label for="price">E-mail</label>

                                                <input type="text" placeholder="-----">
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div class="col-md-8">
                                <div class="search-item">
                                    <label for="price">Комментарий</label>
                                    <textarea name="" id="" rows="7"></textarea>

                                </div>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <h1 class="section-head">Дополнительные <span>параметры</span></h1>

            </div>
            <div class="col-md-12">
                <div class="col-md-12 substrate">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="tarea">Район</label>
                                    <select>
                                        <option>Духовец</option>
                                        <option>Курский</option>
                                        <option>Центральный</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Ремонт</label>
                                    <select>
                                        <option>Евро</option>
                                        <option>Жилой</option>
                                        <option>Под ремонт</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="typeobj">Тип объекта</label>
                                    <select>
                                        <option>Дом</option>
                                        <option>Квартира</option>
                                        <option>Комната</option>
                                        <option>Участок</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-item">
                                <label for="tarea">Комнаты</label>
                                <select>
                                    <option>Смежные</option>
                                    <option>Раздельные</option>
                                    <option>Смежно-раздельные</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Комнат</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Этажность</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Площадь</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Цена</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="phone">Сроки <i class="fa fa-calendar"></i></label>
                                    <input id="peresmotr" type="text" placeholder="-----">
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Люди</label>
                                    <select name="" id="">
                                        <option value="">Семья</option>
                                        <option value="">Пара</option>
                                        <option value="">1 человек</option>
                                        <option value="">Не русские</option>
                                        <option value="">Пара с ребенком</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-item">
                                    <label for="price">Этап</label>
                                    <select name="" id="">
                                        <option value="">Подбор объекта</option>
                                        <option value="">пункт 1</option>
                                        <option value="">пункт 2</option>
                                    </select>
                                </div>
                                <br>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center; margin: 15px 0">
                        <a href="#" class="btn btn-green">Добавить</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script>
    $(function() {
        $("#typeobj").selectmenu();
        $(".tarea-multiple").select2();
        $("#idobj").selectmenu();
        $("#actual").selectmenu();
        $("#stat").selectmenu();
        $("#stat").selectmenu();
        $("#street").selectmenu();
        $("#typebuild").selectmenu();
        $("#peresmotr").datepicker();
        $(".multiple").select2();
        $(".extend-block").click(function() {
            var x = $(".extended-search").css('height');
            console.log(x);
            if (x == '0px') {
                $(".extended-search").css('height', '');
            } else {
                $(".extended-search").css('height', '0px');
            }

        });

    });
    </script>
    <script>
    $(document).ready(function() {
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });
    });
    </script>
{% endblock extra_js %}