{% extends "homes/base.html" %}

{% block extra_css %}{% endblock extra_css %}

{% block title %}<title>Арендаторы</title>{% endblock title %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li class="active">Арендаторы</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container object-edit">
            <div class="row section-search">
                <div class="col-md-12">
                    <h1 class="section-head">Поиск <span>Арендаторов</span></h1>
                    <div class="section-sort">
                        <a href="#" class="extend-block">
                            <i class="fa fa-filter"></i> Расширеный поиск
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 substrate">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="typeobj">Риэлтор</label>
                                    <select id="user_id" class="tarea-multiple" multiple="multiple" placeholder="-----">
                                        <option>-----</option>
                                        {% for user in user_list.all %}
                                            <option value="{{ user.user.id }}">{{ user.user.get_full_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Цена</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="allownumericwithoutdecimal" id="price_from" type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="allownumericwithoutdecimal" id="price_to" type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="actual">Сроки</label>
                                    <input id="terms" type="text" placeholder="-----">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="tarea">Район</label>
                                    <select class="tarea-multiple" multiple="multiple" placeholder="-----" id="district_name">
                                        {% for district in list_district %}
                                            <option value="{{ district.id }}">{{ district.district }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="price">Площадь</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="allownumericwithoutdecimal" id="area_from" type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="allownumericwithoutdecimal" id="area_to" type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="stat">Состояние</label>
                                    <select id="state" class="tarea-multiple" multiple="multiple">
                                        {% for state in list_state %}
                                            <option value="{{ state.id }}">{{ state }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="idobj">Дата звонка</label>
                                    {# <input id="call-date" type="text" placeholder="-----"> #}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input id="call_date_from" type="text" placeholder="От">
                                        </div>
                                        <div class="col-md-6">
                                            <input id="call_date_to" type="text" placeholder="До">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="search-item">
                                    <label for="phone">Телефон</label>
                                    <input class="allownumericwithoutdecimal" id="phone_n" type="text" placeholder="-----">
                                </div>
                            </div>

                        </div>
                        <div class="extended-search" style="height: 0px">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="typeobj">Тип объекта</label>
                                        <select id="type_facility" class="multiple" multiple="multiple" placeholder="-----">
                                            {% for tp in type_facility %}
                                                <option value="{{tp.id}}">{{tp}}</option> 
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="typeobj">Комнаты</label>
                                        <select id="rooms_id" class="multiple" multiple="multiple" placeholder="-----">
                                            {% for rooms in list_rooms %}
                                                <option value="{{ rooms.id }}">{{ rooms }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="state">Этап</label>
                                        <select id="stage_a" class="multiple" multiple="multiple" placeholder="-----">
                                            {% for stage in list_stage %}
                                                <option value="{{ stage.id }}">{{ stage }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="tarea">Тип клиента</label>
                                    <select id="type_client" class="multiple" multiple="multiple"  placeholder="-----">
                                        {% for client in list_client %}
                                            <option value="{{ client.id }}">{{ client }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="">Комнат</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input class="allownumericwithoutdecimal" id="rooms_from" type="text" placeholder="От">
                                            </div>
                                            <div class="col-md-6">
                                                <input class="allownumericwithoutdecimal" id="rooms_to" type="text" placeholder="До">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="stat">E-mail</label>
                                        <input class="filter_space" id="email_a" type="email" placeholder="  -----">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="">Имя</label>
                                        <input class="filter_space" id="name_a" type="text" placeholder="-----">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="phone">Этаж</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input class="allownumericwithoutdecimal" id="floor_from" type="text" placeholder="От">
                                            </div>
                                            <div class="col-md-6">
                                                <input class="allownumericwithoutdecimal" id="floor_to" type="text" placeholder="До">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="">Кто проживает</label>
                                        <select id="nop" class="multiple" multiple="multiple" placeholder="-----">
                                            {% for nop in list_number_of_persons %}
                                                <option value="{{ nop.id }}">{{ nop }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="">ID клиента</label>
                                        <input class="allownumericwithoutdecimal" id="id_arendator" type="text" placeholder="-----">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="">Ремонт</label>
                                        <select id="repair" class="multiple" multiple="multiple" placeholder="-----">
                                            {% for repair in list_repair %}
                                                <option value="{{ repair.id }}">{{ repair }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-search">
                                <a href="{% url 'arendators' %}" class="btn btn-red">Очистить</a>
                                <a id="search_arendator" href="#" class="btn btn-blue">Применить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row search-object">
                <div class="col-md-12">
                    <h1 class="section-head">Ваши <span>Арендаторы </span> <i class="label label-default">{{ count_arendator }}</i></h1>
                    <div class="section-sort">
                        <a href="{% url "add_arendator" %}" class="btn btn-green">Добавить</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tabs">
                         <ul class="object-filter">
                            {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                                <li><a href="{% url request.path|cut:'/' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                    {% if order_by == 'id' and reverse == '1' %}&darr;
                                    {% elif order_by == 'id' %}
                                            &uarr;
                                    {% endif %}
                                    Артикул
                                </a></li>
                                <li><a href="{% url request.path|cut:'/' %}?order_by=call_date{% if order_by == 'call_date' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                    {% if order_by == 'call_date' and reverse == '1' %}&darr;
                                    {% elif order_by == 'call_date' %}
                                            &uarr;
                                    {% endif %}
                                    Дата звонка
                                </a></li>
                                <li><a href="{% url request.path|cut:'/' %}?order_by=review_date{% if order_by == 'review_date' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                    {% if order_by == 'review_date' and reverse == '1' %}&darr;
                                    {% elif order_by == 'review_date' %}
                                            &uarr;
                                    {% endif %}
                                    Дата обновления
                                </a></li>
                            {% endwith %}
                        </ul>
                    </div>

                </div>
                {% for arendator in arendator_list %}
                    {% if arendator.trash == 0 %}
                        {% if arendator.loyality.get.id == '' %}
                            {% include 'homes/obj_arendator.html' %}
                        {% elif arendator.loyality.get.id == user.id or user.is_superuser or user.myuser.type_user.id == 1%}
                            {% include 'homes/obj_arendator.html' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if  is_paginated %}
                    <div class="col-md-12 section-pagination">
                        <ul class="pagination">
                        <li><a href="?page=1">&laquo;&laquo;</a></li>
                            <!--Если есть предыдущая страница - то делаю ссылку "назад"-->
                    {% if  page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% endif %}
                            {% for p in paginator.page_range %}
                                <li
                                    {% if page_obj.number == p %}
                                        class="active"
                                    {% endif %}>
                                    <a href="{% url request.path|cut:'/' %}?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                    {% if  page_obj.has_next %}
                              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                        <li><a href="?page={{ paginator.num_pages}}">&raquo;&raquo;</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="messageServer"></div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(function() {
        $("#typeobj").selectmenu();
        $(".tarea-multiple").select2();
        $("#idobj").selectmenu();
        $("#actual").selectmenu();
        $("#stat").selectmenu();
        $("#stat").selectmenu();
        $("#street").selectmenu();
        $("#typebuild").selectmenu();
        
        $("#terms").datepicker({monthNames: ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август', 'Сентябрь','Октябрь', 'Ноябрь', 'Декабрь'], dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'], firstDay: 1}).datepicker();
        $("#call_date_from").datepicker({monthNames: ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август', 'Сентябрь','Октябрь', 'Ноябрь', 'Декабрь'], dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'], firstDay: 1}).datepicker();
        $("#call_date_to").datepicker({monthNames: ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август', 'Сентябрь','Октябрь', 'Ноябрь', 'Декабрь'], dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'], firstDay: 1}).datepicker();
        $(".multiple").select2();
        $(".extend-block").click(function() {
            var x = $(".extended-search").css('height');
            console.log(x);
            if (x == '0px') {
                $(".extended-search").css('height', '');
            } else {
                $(".extended-search").css('height', '0px');
            }

        });

    });
    </script>
    <script>
        $(document).ready(function() {
    $('.popup-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
        }
    });
    $('.prop').on('change', '.call_date', function(event) {
        event.preventDefault();
        $.get('arendators/change_call_date', {"id": $(this).attr('id'), "date": $(this).val()}, function(data) {});
    });
    $('#search_arendator').on('click',function(event) {
        event.preventDefault();
        var user_id = $('#user_id').val();
        var price_from = $('#price_from').val();
        var price_to = $('#price_to').val();
        var terms = $('#terms').val();
        var district_name = $('#district_name').val();
        var area_from = $('#area_from').val();
        var area_to = $('#area_to').val();
        var state = $('#state').val();
        var call_date_from = $('#call_date_from').val();
        var call_date_to = $('#call_date_to').val();
        var phone_n = $('#phone_n').val();
        var type_facility = $('#type_facility').val();
        var rooms_id = $('#rooms_id').val();
        var type_client = $('#type_client').val();
        var name_a = $('#name_a').val();
        var email_a = $('#email_a').val();
        var rooms_from = $('#rooms_from').val();
        var rooms_to = $('#rooms_to').val();
        var repair = $('#repair').val();
        var nop = $('#nop').val();
        var stage_a = $('#stage_a').val();
        var id_arendator = $('#id_arendator').val();
        var floor_from = $('#floor_from').val();
        var floor_to = $('#floor_to').val();
        data = {
            "user_id": user_id,
            "price_from": price_from,
            "price_to": price_to,
            "terms": terms,
            "district_name": district_name,
            "area_from": area_from,
            "area_to": area_to,
            "state": state,
            "call_date_from": call_date_from,
            "call_date_to": call_date_to,
            "phone_n": phone_n,
            "type_facility": type_facility,
            "rooms_id": rooms_id,
            "type_client": type_client,
            "name_a": name_a,
            "email_a": email_a,
            "rooms_from": rooms_from,
            "rooms_to": rooms_to,
            "repair": repair,
            "nop": nop,
            "stage_a": stage_a,
            "id_arendator": id_arendator,
            "floor_from": floor_from,
            "floor_to": floor_to
        };
        $.get('arendators/search_arendator', data, function(data) {
            $('.search-object').html(data)
        });
    });
    $('.filter_space').on('keyup', function () {
        $(this).val($.trim($(this).val()));
    });
     $(".allownumericwithoutdecimal").on('keyup', function () {
         $(this).val($.trim($(this).val()));
         if ($.isNumeric($(this).val())){

         }else{
             var numbs = $(this).val();
             numbs = numbs.slice(0, numbs.length-1);
             $(this).val(numbs)

         }
        });
     $('.object-edit').on('click', '.fa-times', function(event) {
                event.preventDefault();
                var idobj_trash = $(this).attr('id-obj');
                $(this).parents('.wrap-buyers').fadeOut('slow');
                $.post('arendators/trash_arendator', {"trash": idobj_trash, "iduser":{{ user.id }}}, messageServer);
            });
            function messageServer(data) {
                if (data==='Ошибка'){
                    $('.messageServer').css('backgroundColor', '#c9302c');
                }else {
                    $('.messageServer').css('backgroundColor', '#5bc0de');
                }
                $('.messageServer').text(data).fadeIn(1000).delay(2000).fadeOut(500);
            }
});
    </script>
{% endblock extra_js %}