{% extends "homes/base.html" %}

{% block title %}<title>Встречи</title>{% endblock title %}

{% load dead_line %}

{% load static from staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/modal_form.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui-timepicker-addon.css" %}">
{% endblock extra_css %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li class="active">Встречи</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container">
            <div class="row section-search">
                <div class="col-md-12">
                    <div class="col-md-12 substrate">
                        <form id="search_form" action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="typeobj">Риэлтор</label>
                                        <select class="multiple" multiple="multiple" name="search_meet_rieltor">
                                            {% for rieltor in rieltor_list %}
                                                <option value="{{ rieltor.id }}">{{ rieltor }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="price">Период</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="meet-data-to" name="data_to" type="text" placeholder="От">
                                            </div>
                                            <div class="col-md-6">
                                                <input id="meet-data-from" name="data_from" type="text" placeholder="До">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-item">
                                        <label for="actual">Статус</label>
                                        <select name="status">
                                            <option selected="selected">-----</option>
                                            {% for status in status_list %}
                                                <option value="{{ status.id }}">{{ status }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 btn-search">
                                    <a id="search_meet" href="#" class="btn btn-blue">Поиск</a>
                                    <a href="{% url 'meeting' %}" class="btn btn-red">Очистить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="meeting">
                                    <div class="row">
                                        <h1 class="section-head">Встречи</h1>
                                        <div class="section-sort">
                                            <a href="#" id="add_meet_form" class="btn btn-green">Добавить</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tabs">
                                                    <ul class="main-tabs">
                                                        <li {% if '/meeting' in request.path %} class="tabs-active" {% endif %}><a href="{% url 'meeting' %}">Активные <span class="label label-default count_active_meet">{{ count_active_meet }}</span></a></li>
                                                        <li {% if '/archive_meet' in request.path %} class="tabs-active" {% endif %}><a href="{% url 'archive_meet' %}"> Архив <span class="label label-default count_archive_meet">{{ count_archive_meet }}</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table table-striped table-bordered table-hover meet table-in">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Комментарий</th>
                                                    <th>Статус встречи</th>
                                                    <th>Клиент</th>
                                                    <th>Риэлтор</th>
                                                    <th>Хозяин</th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody id="add_single_meet">
                                                {% for meeting in meeting_list %}
                                                    <tr>
                                                         <td class="f-clr-grey">
                                                            {{ meeting.id }}
                                                        </td>
                                                        <td class="comment f-clr-grey">
                                                            {% if meeting.meet_comment %}
                                                                {{ meeting.meet_comment }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="edit f-clr-grey">
                                                           <select name="" id="">
                                                                {% for status in status_list %}
                                                                    <option
                                                                        {% if meeting.meet_status.id == status.id %}
                                                                            selected
                                                                        {% endif %}
                                                                        value="{{ status.id }}">{{ status }}
                                                                    </option>
                                                                {% endfor %}
                                                           </select>
                                                        </td>
                                                        <td class="f-clr-grey">
                                                            {% if meeting.meet_arendator %}
                                                                <i class="fa fa-user"></i>
                                                                {{ meeting.meet_arendator.name }}
                                                                <br>
                                                                <i class="fa fa-phone"></i>
                                                                {% if meeting.meet_arendator.phone_first %}
                                                                    {{ meeting.meet_arendator.phone_first }}
                                                                {% elif meeting.meet_arendator.phone_second %}
                                                                    {{ meeting.meet_arendator.phone_second }}
                                                                {% else %}
                                                                {% endif %}
                                                                <br>
                                                                <i class="fa fa-hashtag"></i>
                                                                K{{ meeting.meet_arendator_id }}
                                                            {% elif meeting.meet_buyer %}
                                                                <i class="fa fa-user"></i>
                                                                {{ meeting.meet_buyer.name}}
                                                                <br>
                                                                <i class="fa fa-phone"></i>
                                                                {% if meeting.meet_buyer.phone_first %}
                                                                    {{ meeting.meet_buyer.phone_first }}
                                                                {% elif meeting.meet_buyer.phone_second %}
                                                                    {{ meeting.meet_buyer.phone_second }}
                                                                {% else %}
                                                                {% endif %}
                                                                <br>
                                                                <i class="fa fa-hashtag"></i>
                                                                K{{ meeting.meet_buyer_id }}
                                                            {% else %}
                                                            {% endif %}
                                                        </td>
                                                        <td class="f-clr-grey">
                                                            {% if meeting.rieltor %}
                                                                <i class="fa fa-user"></i>
                                                                {{ meeting.rieltor }}
                                                            {% endif %}
                                                            <br>
                                                            <div class="date
                                                             {% if meeting.meet_date|dead_line %}
                                                                f-clr-red
                                                             {% else %}
                                                                f-clr-grey
                                                             {% endif %}
                                                             ">
                                                                <i class="fa fa-clock-o"></i>
                                                                {{ meeting.meet_date|date:'D d M H:i' }}
                                                            </div>
                                                        </td>
                                                        <td class="f-clr-grey">
                                                            <i class="fa fa-user"></i>
                                                            {{ meeting.meet_facility.name_owner }}<br>
                                                            <i class="fa fa-phone"></i>
                                                            {{ meeting.meet_facility.phone_owner }}<br>
                                                            <i class="fa fa-local"></i>
                                                            {{ meeting.meet_facility.street_obj }}
                                                            {% if meeting.meet_facility.number_home %}
                                                                {{ meeting.meet_facility.number_home }}
                                                            {% endif %}
                                                            <br>
                                                            <i class="fa fa-hashtag"></i>
                                                            {% if meeting.meet_facility_id %}
                                                                O{{ meeting.meet_facility_id }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="edit f-clr-grey" id-meet="{{ meeting.id }}">
                                                            {% if not meeting.meet_archiv %}
                                                                <a href="#"> <i class="fa fa-play"></i></a>
                                                            {% endif %}
                                                            <a href="#"> <i class="fa fa-pencil"></i></a>
                                                            <a href="#"><i class="fa fa-times"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% if paginator.num_pages > 1 %}
                            {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                                <div class="col-md-12 section-pagination">
                                    <ul class="pagination">
                                        <li><a href="{% url request.path|cut:'/' %}?page=1">&laquo;</a></li>
                                        {% for p in paginator.page_range %}
                                            <li
                                                {% if request.GET.page|first == p|floatformat %}
                                                    class="active"
                                                {% endif %}>
                                                <a href="{% url request.path|cut:'/' %}?page={{ p }}">{{ p }}</a>
                                            </li>
                                        {% endfor %}
                                        <li><a href="{% url request.path|cut:'/' %}?page={{ paginator.num_pages}}">&raquo;</a></li>
                                    </ul>
                                </div>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            </div>
    </section>
    <div id="add_form"></div>
{% endblock content %}
{% block extra_js %}
    <script>
    $(function() {
        $("#typeobj").selectmenu();
        $(".tarea-multiple").select2();
        $("#idobj").selectmenu();
        $("#actual").selectmenu();
        $("#stat").selectmenu();
        $("#speed").selectmenu();
        $("#street").selectmenu();
        $("#typebuild").selectmenu();
        $("#peresmotr").datepicker();
        $("#call-phone").datepicker();
        $("#meet-data-from").datepicker();
        $("#meet-data-to").datepicker();
        $(".multiple").select2();
        $(".extend-block").click(function() {
            var x = $(".extended-search").css('height');
            console.log(x);
            if (x == '0px') {
                $(".extended-search").css('height', '');
            } else {
                $(".extended-search").css('height', '0px');
            }

        });

    });
    </script>
    <script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
    <script src="{% static "js/meeting.js" %}"></script>
{% endblock extra_js %}