{% extends "homes/base.html" %}

{% block title %}<title>Настройки парсера OLX</title>{% endblock title %}

{% load static from staticfiles %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url "homes" %}">Главная</a></li>
                        <li><a href="{% url "services" %}">Сервисы</a></li>
                        <li><a href="{% url "parser_olx" %}">Парсер OLX</a></li>
                        <li class="active">Настройки парсера OLX</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content" ng-app="parsingApp" ng-controller="ParsingController">
        <div class="container">
            <div class="row">
                <div class="messageServer"></div>
                <div class="col-md-12">
                        <h1 class="section-head">Настройки парсера OLX</h1>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">ГОРОД</label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="config.CITY" type="text" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SITE_URL</label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="config.SITE_URL" type="text" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">AJAX_PHONE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.AJAX_PHONE" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETLINK_CATEGORIES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_GETLINK_CATEGORIES" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETTEXT_CATEGORIES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_GETTEXT_CATEGORIES" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_GETLINK_ARTICLES</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_GETLINK_ARTICLES" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_SITY</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_SITY" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_TITLE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_TITLE" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_DATE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_DATE" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3" style="margin-top: 5px">
                        <label for="" style="vertical-align: middle;">SELECTOR_PRICE</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="config.SELECTOR_PRICE" value="">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-offset-5 col-md-4">
                        <input ng-click="save()" type="button" value="Сохранить" class="btn btn-green">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    {% include 'homes/angular_include.html' %}
    <script src="{% static "app/parsing/parsing.js" %}" ></script>
{% endblock extra_js %}